<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
    type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

  <div class="login-form">
    <p class="login-text">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-lock fa-stack-1x"></i>
      </span>
    </p>

    <ion-item>
      <ion-label position="floating"> <ion-icon name="at-circle-sharp"></ion-icon> Email</ion-label>
      <ion-input  [(ngModel)]="credenciales.correo" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> <ion-icon name="finger-print-sharp"></ion-icon> Password</ion-label>
      <ion-input  type="password" [(ngModel)]="credenciales.password" placeholder="Password"></ion-input>
    </ion-item>

    <button type="submit" class="login-submit" (click)="login()" >Inicio de Sesión</button>
    <button value="Registrarse" routerLink="/registro" class="login-submit2">Registrarse</button>
  </div>
  <a href="#" class="login-forgot-pass">forgot password?</a>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>
</ion-content>
