<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio-mensaje">
        <ion-icon name="people-circle"></ion-icon>
        <ion-label>Mensajes</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="servicios">
        <ion-icon name="bag-handle-outline"></ion-icon>
        <ion-label>Servicio</ion-label>
      </ion-tab-button> -->

      <!-- <ion-tab-button tab="factura">
        <ion-icon name="pie-chart-outline"></ion-icon>
        <ion-label>Factura</ion-label>
      </ion-tab-button> -->

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
